<ng-container *ngIf="account">
    <div>
        <h1>{{account.title}}</h1>
        <p><b>Customer:</b> {{account.customerName}}</p>
        <p><b>Balance: </b> {{account.balance}}</p>
        <p><b>Customer:</b> {{account.status}}</p>
    </div>
    <button mat-stroked-button (click)="changeAccountStatus()">Close/Open account</button>
</ng-container>
    
<form *ngIf="account">
<h4><b>Operations:</b></h4>
<mat-form-field appearance="fill">
  <mat-label>choose operation</mat-label>
  <mat-select [(ngModel)]="flag" name="oper" [disabled]="disableForm()">
    <mat-option *ngFor="let oper of operations" [value]="oper.value">
      {{oper.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>



<form *ngIf="account" [disabled]="disableForm()">
<mat-form-field appearance="fill">
    <mat-label>Amount:</mat-label>
    <input type="number" matInput [(ngModel)]="amount" name="amount" [disabled]="disableForm()">
</mat-form-field>
<button mat-stroked-button (click)="onSubmit()" [disabled]="disableForm()">Confirm Transaction</button>
</form>

<table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Num Column -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
      <td mat-cell *matCellDef="let tr"> {{tr.id}} </td>
    </ng-container>
  
    <!-- Account Column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef> Account </th>
      <td mat-cell *matCellDef="let tr"> {{tr.accountId}} </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let tr"> {{tr.amount}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>